# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Testing cache
.pytest_cache/

# IDE settings
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
